@use './reset';

@use './connect-button';

@use './header/header';

@use './sider/sider';
@use './sider/sider-menu';

@use './layout';

@use './footer';

:root {
  /* Palette */
  --a8-primary: #ceff70;
  --a8-primary-600: #ceff70;
  --a8-primary-950: #182102;
  --a8-neutral-50: #f1f2f3;

  /* Base */
  --a8-font-family: 'Bw Gradual', sans-serif;
  --a8-base-bg: rgba(255, 255, 255, 0.05);

  --a8-base-color: #666f6c;
  --a8-base-color-active: #ceff70;

  --a8-transition: all 0.2s ease-in-out;

  /* Components*/
  --a8-component-background: rgba(9, 10, 11, 0.8);

  /* Header */
  --a8-header-height: 76px;

  /* Sider */
  --a8-sider-colapsed-width: 56px;
  --a8-sider-expanded-width: 272px;
  --a8-sider-menu-active-color: #d8ff76;
}

@media screen and (max-width: 991px) {
  :root {
    /* Header */
    --a8-header-height: 56px;
  }
}

@font-face {
  font-family: 'Bw Gradual';
  src: url('../assets/fonts/BwGradual-Black.woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Bw Gradual';
  src: url('../assets/fonts/BwGradual-BlackItalic.woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Bw Gradual';
  src: url('../assets/fonts/BwGradual-ExtraBold.woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Bw Gradual';
  src: url('../assets/fonts/BwGradual-ExtraBoldItalic.woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Bw Gradual';
  src: url('../assets/fonts/BwGradual-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bw Gradual';
  src: url('../assets/fonts/BwGradual-BoldItalic.woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Bw Gradual';
  src: url('../assets/fonts/BwGradual-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Bw Gradual';
  src: url('../assets/fonts/BwGradual-MediumItalic.woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Bw Gradual';
  src: url('../assets/fonts/BwGradual-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bw Gradual';
  src: url('../assets/fonts/BwGradual-RegularItalic.woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bw Gradual';
  src: url('../assets/fonts/BwGradual-Light.woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bw Gradual';
  src: url('../assets/fonts/BwGradual-LightItalic.woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Bw Gradual';
  src: url('../assets/fonts/BwGradual-Thin.woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Bw Gradual';
  src: url('../assets/fonts/BwGradual-Thin.woff2');
  font-weight: 100;
  font-style: normal;
}
