button {
  cursor: pointer;
  border: none;
  transition: var(--a8-transition);
}

input {
  background: transparent;
  border: none;
  color: #687851;

  &::placeholder {
    color: #687851;
  }

  &:focus-visible {
    outline: none;
  }
}

.a8-pkg-avatar {
  border: none;
}
