.a8-pkg-connect-btn {
  height: var(--a8-btn-height-md);
  padding-left: 16px;
  padding-right: 16px;

  background-color: var(--a8-primary);
  border: 1px solid var(--a8-primary);

  border-radius: 6px;
  color: var(--a8-primary-950);
  font-size: 16px;
  font-weight: 700;

  &:hover {
    background-color: var(--a8-primary) !important;
    color: var(--a8-primary-950) !important;
  }
}

.a8-pkg-user-nav-btn {
  height: var(--a8-btn-height-md);
  border: 1px solid rgba(255, 255, 255, 0.08) !important;
  background: transparent !important;
  border-radius: 8px;
  padding: 0 16px;
  color: var(--a8-primary);
  box-shadow: unset !important;

  & > span {
    display: flex;
  }

  &--user-name {
    color: var(--a8-neutral-50);
  }

  &:hover {
    border: 1px solid var(--a8-primary) !important;
  }
}

@media screen and (max-width: 991px) {
  .a8-pkg-connect-btn {
    height: var(--a8-btn-height-sm);
    font-size: 14px;
  }

  .a8-pkg-user-nav-btn {
    width: var(--a8-btn-height-sm); //square
    height: var(--a8-btn-height-sm);
    padding: 0;
  }
}
