.a8-pkg-header {
  &-wrapper {
    width: 100%;

    border-bottom: 0.6px solid rgba(255, 255, 255, 0.08);
    background: var(--a8-component-background);
    backdrop-filter: blur(35px);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  &-container {
    height: var(--a8-header-height);
    max-width: 1280px;
    padding: 0 24px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-brand {
    .brand {
      cursor: pointer;
      width: 124px;
    }
  }
}

@media screen and (max-width: 991px) {
  .a8-pkg-header {
    &--sider-toggle {
      cursor: pointer;
    }

    &-brand {
      .brand {
        width: 82px;
      }
    }
  }
}
