.a8-pkg-input-outlined {
  border-radius: 16px;
  border: 1px solid rgba(176, 231, 96, 0.5);
  background: rgba(176, 231, 96, 0.05) !important;
  color: #687851;

  input,
  input::placeholder {
    font-size: 16px;
    color: #687851;
  }

  &:focus,
  &:hover,
  &:focus-within {
    color: #687851;
    border: 1px solid rgba(176, 231, 96, 0.5) !important;
    background: rgba(176, 231, 96, 0.05) !important;
  }
}
