.a8-pkg-layout-sider {
  position: fixed;
  top: var(--a8-header-height);
  left: 0;
  background: var(--a8-component-background) !important;
  backdrop-filter: blur(25px);
  min-height: calc(100vh - var(--a8-header-height));
  z-index: 1000;
}
