.a8-pkg-menu {
  background: transparent;
}

.a8-pkg-menu-dark.a8-pkg-menu-inline .a8-pkg-menu-sub.a8-pkg-menu-inline {
  background: transparent;
}

.a8-pkg-menu-dark.a8-pkg-menu-submenu-popup > .a8-pkg-menu {
  background: var(--a8-component-background) !important;
}

.a8-pkg-menu-inline-collapsed > .a8-pkg-menu-item,
.a8-pkg-menu-inline-collapsed
  > .a8-pkg-menu-submenu
  > .a8-pkg-menu-submenu-title {
  padding-inline: 20px;
}
